@{
    ViewBag.Title = "CarCare";
    Layout = "~/Views/Shared/_LayoutCarCare.cshtml";
}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Chào mừng bạn đến với dịch vụ của chúng tôi!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Khám phá</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Dịch vụ</h2>
            <h3 class="section-subheading text-muted">We support all these services.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-motorcycle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Bảo trì - Bảo dưỡng</h4>
                <p class="text-muted">Đội ngũ bảo dưỡng là những chuyên gia về lĩnh vực moto</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-spray-can fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Phủ nano</h4>
                <p class="text-muted">Bạn có muốn sở hữu một chiếc áo bảo vệ tàng hình cho xe?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-wallet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Tài chính</h4>
                <p class="text-muted">Trải nghiệm dịch vụ lãi suất 0%</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Những bộ phận cần được bảo dưỡng</h2>
            <h3 class="section-subheading text-muted">
                Protected machine parts.
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Vành xe - Nan hoa</div>
                        <div class="portfolio-caption-subheading text-muted">Rim</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Cổ phuốc</div>
                        <div class="portfolio-caption-subheading text-muted">Shock Absorber</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Phanh trước</div>
                        <div class="portfolio-caption-subheading text-muted">Front Brake</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/4.jpeg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Các loại dây cáp</div>
                        <div class="portfolio-caption-subheading text-muted">Motorcycle cables</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bôi trơn các chi tiết chuyển động</div>
                        <div class="portfolio-caption-subheading text-muted">Lubrication of detailed movements</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Content/Frontend/assets/img/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Tra dầu tay ga - dây ga</div>
                        <div class="portfolio-caption-subheading text-muted">Scooter oil</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Our service development process.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img.freepik.com/free-vector/monochrome-vintage-garage-tools-round-concept_1284-39202.jpg?w=826&t=st=1663325367~exp=1663325967~hmac=d6f4a2818be0109280ab93e39f683190471c51dbde606417a1a4ade8bbdc6d50" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019-2020</h4>
                        <h4 class="subheading">Khởi đầu</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Tìm kiếm nhãn hàng hợp tác và nguồn nhân lực kinh nghiệm để dẫn dắt.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img.freepik.com/free-vector/evacuating-car-wrench-clipboard-oil-canister-neon-signs-set_1262-19589.jpg?w=826&t=st=1663325428~exp=1663326028~hmac=465ac30b93983a57325bec16b3a97b41b4140404e22def8915bd819af6176e48" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tháng 5 - 2020</h4>
                        <h4 class="subheading">Thành lập một cửa hàng dịch vụ đầu tiên</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Triển khai mô hình dịch vụ thử nghiệm.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img.freepik.com/free-vector/car-repair-service-flat-icons-set_1284-9062.jpg?w=826&t=st=1663325502~exp=1663326102~hmac=4137a23f89c9684d89a776460014ca0599373327ac338b49a5bbad2b5447317c" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tháng 10 - 2021</h4>
                        <h4 class="subheading">Triển khai đầy đủ mô hình dịch vụ</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Triển khai tất cả dịch vụ chính thức.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img.freepik.com/free-vector/car-service-abstract-concept-illustration-car-repair-shop-vehicle-detailing-maintenance-business-automobile-fixing-service-motor-diagnostics-transport-mending_335657-373.jpg?w=826&t=st=1663325666~exp=1663326266~hmac=938e49a797ddc6dc9dc4d93f2dd3db4744d680cd5b680acdcce11fdfbc122426" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tháng 10 - 2022</h4>
                        <h4 class="subheading">Mở rộng giai đoạn</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Mở rộng khu vực kinh doanh toàn quốc.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Đội ngũ nhân viên</h2>
            <h3 class="section-subheading text-muted">MEMBERS</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/Frontend/assets/img/team/team1.jpg" alt="..." />
                    <h4>Dang Minh Quang</h4>
                    <p class="text-muted">Mender</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fa-solid fa-phone"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/dangminhquang1401" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/Frontend/assets/img/team/team2.jpg" alt="..." />
                    <h4>Nguyen Hoai Tu</h4>
                    <p class="text-muted">Mender</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fa-solid fa-phone"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/hoaitu1312/" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">We will bring you the best experience.</p></div>
        </div>
    </div>
</section>
<!-- Đồ chơi xe máy-->



<!--end Đồ chơi xe máy-->
<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Content/Frontend/assets/img/logos/Honda.svg" alt="..." aria-label="Honda Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Content/Frontend/assets/img/logos/Kawasaki-logo.svg" alt="..." aria-label="Kawasaki Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Content/Frontend/assets/img/logos/Suzuki_logo.svg" alt="..." aria-label="Suzuki Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Content/Frontend/assets/img/logos/Yamaha_logo.svg" alt="..." aria-label="Yamaha Logo" /></a>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Connect with us.</h3>
        </div>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Submission Successful!</div>
                </div>
            </div>
            <!-- Submit error message-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Car Care 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Vành xe - Nan hoa</h2>
                            <p class="item-intro text-muted">Rim</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/1.jpg" alt="..." />
                            <p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Product
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Cổ phuốc</h2>
                            <p class="item-intro text-muted">Shock Absorber</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/2.jpg" alt="..." />
                            <p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Phanh trước</h2>
                            <p class="item-intro text-muted">Front Brake</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/3.jpg" alt="..." />
                            <p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Các loại dây cáp</h2>
                            <p class="item-intro text-muted">Motorcycle cables</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/4.jpeg" alt="..." />
                            <<p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Bôi trơn các chi tiết chuyển động</h2>
                            <p class="item-intro text-muted">Lubrication of detailed movements</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/5.jpg" alt="..." />
                            <p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="~/Content/Frontend/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Tra dầu tay ga - dây ga</h2>
                            <p class="item-intro text-muted">Scooter oil</p>
                            <img class="img-fluid d-block mx-auto" src="~/Content/Frontend/assets/img/portfolio/6.jpg" alt="..." />
                            <p>Decriptions</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Bán tại cửa hàng</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Content/Frontend/js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")