@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account",new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("" + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a style="margin-left: 8px" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
    <li class="nav-item"><a style="display:inline" class="nav-link" href="~/Booking/classify"><i class="fa-solid fa-clipboard"></i></a> </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="list-style: none;text-decoration:none">
        <li style="margin-right: 7px">@Html.ActionLink("Đăng ký ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
