
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/assets/css/tooplate-wave-cafe.css" rel="stylesheet" />

<div class="tm-video-wrapper">
    <i id="tm-video-control-button" class="fas fa-pause"></i>
    <video autoplay muted loop id="tm-video">
        <source src="~/Content/Frontend/video/backg1.mp4" type="video/mp4">
    </video>
</div>